.productDetails {
    margin-top: 30px;

    .category {
        font-size: 13px;
        color: #777777b9;
        transition: 0.4s;
        cursor: pointer;
        width: fit-content;

        &:hover {
            color: var(--primary);
        }
    }

    h2 {
        font-size: 25px;
        margin: 3px 0px 0px;
        color: #333;
        text-transform: capitalize;

    }

    .price {
        color: var(--primary);
        font-weight: 500;
        font-size: 25px;
        margin: 15px 0px;

        del {
            color: #b5b5b5;
            margin: 0px 15px;
            font-size: 22px;
        }

    }

    .avilability {
        margin: 10px 0px;

        strong {
            color: #000 !important;
            font-size: 16px !important;
        }

        p {
            color: #0066c0;
            font-size: 14px;
        }
    }

    .description {
        color: #777;
        line-height: 1.6;
        font-size: 14px;
        margin: 15px 0px;
        ul {
            padding-left: 15px;
        }
    }

    .flex {
        margin-top: 20px;

        .counter {
            display: flex;
            align-items: center;

            button {
                width: 35px;
                height: 35px;
                border: 1px solid #77777734;
                background-color: transparent;
                transition: 0.5s;
                cursor: pointer;

                &:hover {
                    color: var(--primary);
                }
            }

            p {
                width: 35px;
                height: 35px;
                border: 1px solid #77777734;
                font-size: 22px;
                color: #333;
                text-align: center;
                font-weight: 600;
            }
        }

        .addCard {
            width: 100%;
            background-color: var(--primary);
            color: white;
            padding: 10px;
            font-weight: 600;
            font-size: 14px;
            border: none;
            border-radius: 4px;
            transition: 0.5s;
            border: 1px solid var(--primary);
            cursor: pointer;
            margin: 0px 10px;

            &:hover {
                background-color: white;
                color: var(--primary);
            }
        }
    }

    .details {
        margin-top: 35px;
        p {
            font-size: 13.5px;
            margin-top: 14px;
            color: #000000b4;
        }
        strong {
            margin-right: 2px;
            font-weight: 500;
            color: #000 !important;
        }
    }
}