@import '../../../mixins.scss';

.product_tabs {
    padding: 50px 0px;
    .boxes_products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 10px;
        margin: 20px 0px;
        justify-items: center;
        @include md {
            justify-items: normal;
        }
    }
}