@import "../../mixins.scss";

.contactUS {
    padding: 60px 0px;
    h3 {
        color: #333e48;
        font-size: 22px;
        margin: 20px 0px;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding-bottom: 30px;
        @include sm {
            grid-template-columns: 1fr;
        }
        @include md {
            grid-template-columns: 1fr 2fr;
        }
        .content {
            p {
                margin: 15px 0px;
            }
        }
        .form {
            form {
                .gridInputs {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 10px;
                    padding-bottom: 30px;

                    @include md {
                        gap: 30px;
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
                label {
                    display: block;
                    color: #333e48;
                    font-size: 14px;
                    font-weight: 600;
                    span {
                        color: red;
                    }
                }
                input {
                    background-color: #f7f7f7;
                    padding: 0.6rem 1rem;
                    outline: none;
                    border: 1px solid #e6e6e6;
                    margin: 5px 0px;
                    width: 100%;
                    border-radius: 4px;
                }
                textarea {
                    width: 100%;
                    min-height: 300px;
                    background-color: #f7f7f7;
                    outline: none;
                    border: 1px solid #e6e6e6;
                    margin: 10px 0px;
                    border-radius: 4px;
                }
                button {
                    padding: 15px 50px;
                    font-size: 16px;
                    color: white;
                    background-color: #333e48;
                    border: 1px solid #333e48;
                    border-radius: 4px;
                    transition: 0.3s;
                    font-weight: 600;
                    cursor: pointer;
                    &:hover {
                        background-color: var(--primary);
                        border: 1px solid var(--primary);
                    }
                }
            }
        }
    }
}