@import '../../mixins.scss';

.shop_products {
    ul.pageTop {
        display: flex;
        li {
            list-style: none;
            font-size: 15px;
            margin-right: 2px;
            color: #777;
            font-weight: 600;
            margin-top: 5px;
            cursor: pointer;
        }
        li.active {
            color: var(--primary);
            cursor: default;
        }
    }

    .grid {
        padding: 50px 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        @include md {
            grid-template-columns: 270px 1fr;
        }

        .categories {
            display: none;

            @include md {
                display: block;
            }

            h3 {
                color: #333;
                border-bottom: 2px solid #77777723;
                padding-bottom: 5px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: var(--primary);
                    bottom: -2px;
                    left: 0;
                    width: 70px;
                    height: 2px;
                }
            }

            ul {
                list-style: none;
                z-index: 10000000000000000;

                li {
                    margin: 14px 0px;
                    color: #777;
                    font-size: 15px;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary);
                    }
                }

                li.active {
                    color: var(--primary);
                }
            }
        }

        .products_shop {
            p {
                color: #33333379;
                border-bottom: 2px solid #77777723;
                padding-bottom: 9px;
                position: relative;
                font-size: 15px;
            }

            .boxes_shop {
                display: grid;
                grid-template-columns: 1fr 1fr;

                @include mdd {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                @include xl {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                .column {
                    flex-direction: column !important;
                    padding: 20px 15px !important;
                    justify-content: space-between;

                    @include sm {
                        flex-direction: column !important;
                        padding: 30px 25px !important;
                    }
                }
            }
        }
    }
}