@import '../../mixins.scss';

.shop_products {
    .grid {
        padding: 50px 0px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;

        @include md {
            grid-template-columns: 270px 1fr;
        }

        .categories {
            h3 {
                color: #333;
                border-bottom: 2px solid #77777723;
                padding-bottom: 5px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    background-color: var(--primary);
                    bottom: -2px;
                    left: 0;
                    width: 70px;
                    height: 2px;
                }
            }

            ul {
                list-style: none;
                z-index: 10000000000000000;

                li {
                    margin: 14px 0px;
                    color: #777;
                    font-size: 15px;
                    transition: 0.5s;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary);
                    }
                }

                li.active {
                    color: var(--primary);
                }
            }
        }

        .products_shop {

            .product-shop_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 2px solid #77777723;

                button {
                    background-color: transparent;
                    border: none;
                    font-size: 18px;
                    font-weight: 600;
                    cursor: pointer;

                    svg {
                        color: #777;
                    }

                    display: block;

                    @include md {
                        display: none;
                    }
                }

            }

            p.parTop {
                color: #33333379;
                padding-bottom: 9px;
                position: relative;
                font-size: 15px;
            }

            .boxes_shop {
                display: grid;
                grid-template-columns: 1fr 1fr;

                @include mdd {
                    grid-template-columns: 1fr 1fr 1fr;
                }

                @include xl {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }

                .column {
                    flex-direction: column !important;
                    padding: 20px 15px !important;
                    justify-content: space-between;

                    @include sm {
                        flex-direction: column !important;
                        padding: 30px 25px !important;
                    }
                }
            }
        }
    }
}

.filterCategories {
    display: none;

    @include md {
        display: block;
    }
}


.filterPrice {
    margin-bottom: 15px;

    h5 {
        margin: 15px 0px;
        font-size: 18px;
        font-weight: 500;
    }

    .boxesFilterPrice {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .box {
        border: 1px solid #77777770;
        width: fit-content;
        width: 63px;
        padding: 6px 10px 4px 4px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;

        span {
            &:first-of-type {
                color: #7777779e;
            }
            &:last-of-type {
                color: #000000bd;
            }
        }
    }

    p {
        font-weight: 600;
    }
}

.css-187mznn-MuiSlider-root {
    color: var(--primary) !important;
}

.productsEmpty {
    font-size: 25px !important;
    margin-top: 10px !important;
    text-align: center !important;
}