.faqs {
    padding: 10px 0px 40px;
    .boxes {
        margin-top: 20px;
        div {
            box-shadow: none !important;
        }
        .box {
            margin-bottom: 10px;
            width: 100%;
            text-align: start;
            padding: 5px 15px;
            font-size: 16px;
            border: 1px solid #f2f2f2;
            background-color: #f2f2f2;
            color: #000;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 600;
            transition: 0.5s;
        }
        .text {
            background-color: #77777721;
            padding: 30px 25px;
            color: #333;
            transition: 0.5s;
        }
    }
}