.bestseller {
    padding: 80px 0px;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #7777773a;
        padding-bottom: 6px;

        h3 {
            font-size: 22px;
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;

            li {
                margin: 0px 10px;
                font-size: 15px;
                color: #7777779a;
                cursor: pointer;
                transition: 0.5s;
                font-weight: 500;

                &:hover {
                    color: var(--primary);
                }
            }

            li.active {
                color: var(--primary);
            }

        }
    }

    .boxes_products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 20px 0px;

    }
}