@import '../../mixins.scss';

.search-manufacturer {
    position: relative;

    input {
        width: 100%;
        padding: 13px 15px;
        border: 1px solid #7777773d;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        font-size: 15px;
        outline: none;
    }

    @include sm {
        width: 500px;
    }

    .search_button {
        border: none;
        padding: 13px 20px;
        border: none;
        font-size: 15px;
        background-color: var(--primary);
        color: white;
        font-weight: 500;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    ul {
        position: absolute;
        width: 100%;
        background-color: white;
        list-style: none;
        padding: 10px 0px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        max-height: 512.2px;
        overflow: auto;
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
        z-index: 1000000000000;
        top: 100%;
    }

    .search-manufacturer__option {
        margin: 10px 0px;
        padding: 0px 20px;
        color: #777;
        font-size: 15px;
    }
}

.boxSearchProduct {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    border-bottom: 1px solid #22222218;
    padding: 5px 0px;

    .image {
        img {
            width: 55px;
            height: 55px;
        }
    }

    .text {
        padding-left: 4px;

        h4 {
            font-size: 13px;
            color: #333e48;
            font-weight: 400;
        }

        p {
            color: var(--primary);
            font-size: 15px;
            font-weight: 600;
            margin: 4px 0px;

            del {
                color: #b5b5b5;
                margin: 0px 3px;
                font-size: 14px;
            }
        }
    }
}