@import '../../mixins.scss';

.checkout {
    position: relative;

    .body {
        .contentWrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            max-width: 700px;

            @include md {
                grid-template-columns: 1.1fr 0.9fr;
            }

            @include md {
                max-width: 1200px;
            }
        }

        .products {
            padding: 0px 50px ;
            min-height: 86.5vh;
            height: 100%;
            display: flex;
            flex-direction: column;

        }
    }
}


