.headerCheck {
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
    padding: 15px 0px;

    .contentWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            color: rgb(84, 80, 79);
            font-size: 20px;
            cursor: pointer;
        }

        .image {
            cursor: pointer;

            img {
                width: 100px;
            }
        }
    }
}