@import "../../mixins.scss";


.slider {
    width: fit-content;
    margin: auto;
    @include md {
        width: auto;
        margin: 0 0 0 auto;
    }
    img {
        width: 100%;
    }
    position: relative;
    &:hover {
        .buttons {
            opacity: 1;
        }
    }
    .hide {
        position: absolute;
        transition: 0.5s;
        left: 0;
        opacity: 0;
    }
    .active {
        opacity: 1;
    }
    .buttons {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 10px;
        transition: 0.5s;
        opacity:1;
        @include sm {
            opacity: 0;
            padding: 0px 21px;
        }
        button {
            position: relative;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: none;
            background-color: var(--whiteColor);
            transition: 0.5s;
            cursor: pointer;
            font-size: 11px;
            @include sm {
                width: 40px;
                height: 40px;
                font-size: 18px;
            }
            &:hover {
                background-color: var(--primary);
                color: white;
            }
        }

    }
    ul {
        list-style: none;
        display: flex;
        position: absolute;
        bottom: 19px;
        left: 50%;
        transform: translateX(-50%);
        li {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #c2c2c2;
            margin: 0px 4px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                background-color: transparent;
                box-shadow: 0 0 0 2px var(--primary);
            }
        }
        li.active {
            background-color: transparent;
            box-shadow: 0 0 0 2px var(--primary);
        }
    }
}