@import '../../../mixins.scss';


.formCheck {
    form {
        h3 {
            font-size: 22px;
            margin-top: 15px;
        }

        .gridInputsTwo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        .gridInputsThree {
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;

            @include md {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        input {
            display: block;
            width: 100%;
            padding: 10px 11px;
            margin-top: 8px;
            border-radius: 4px;
            outline: none;
            border: 1px solid #7777776b;
            font-size: 15px;
            &::placeholder {
                color: #777777ac;
            }
        }

    }

    .payNow {
        width: 100%;
        padding: 10px;
        color: white;
        font-weight: 600;
        font-size: 20px;
        background-color: #000;
        border: 1px solid #000;
        border-radius: 4px;
        transition: 0.5s;
        cursor: pointer;
        margin-top: 12px;
        &:hover {
            color: #000;
            background-color: white;
        }
    }
}