.priceCheck {
    .flex {
        justify-content: space-between;
        margin: 5px 0px;
        h4 {
            font-size: 14px;
            font-weight: 500;
        }
        h3 {
            font-size: 18px;
            font-weight: 600;
        }
        p {
            font-weight: 600;
            color: #000;
            font-size: 15px;
            margin: 0;
        }
    }
}