@import '../../mixins.scss';

.box_product {
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    padding: 30px 25px;
    flex: 1;
    cursor: pointer;
    margin: 10px 0px;
    .image {
        position: relative;
        img {
            transition: 0.5s;
        }
        button.search {
            position: absolute;
            width: 40px;
            height: 40px;
            color: white;
            background-color: var(--secondary);
            border: noe;
            border: none;
            border-radius: 6px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s;
            opacity: 0;
            cursor: pointer;
            display: none;
            @include md {
                display: block;
            }
            &:hover {
                background-color: var(--primary);
            }
        }
        .discount {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #e53939;
            color: white;
            width: 40px;
            padding: 4px;
            font-size: 13px;
            font-weight: 500;
            border-radius: 3px;
        }
        .OutOfStock {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(255, 193, 7);
            color: #0000007e;
            width: 100px;
            padding: 4px;
            font-size: 13px;
            font-weight: 500;
            border-radius: 3px;
        }
    }
    .details {
        .category {
            color: #777;
            font-size: 13px;
        }
        h3 {
            color: #333;
            margin: 6px 0px;
            font-size: 17px;
        }
        .price {
            color: var(--primary);
            font-weight: 600;
            margin: 8px 0px;
            del {
                color: #b5b5b5;
                margin: 0px 3px;
                font-size: 14px;
            }
        }
        button.buttonCard {
            color: #777777ae;
            padding: 15px 25px;
            border: 1px solid #77777751;
            background-color: transparent;
            font-size: 11px;
            font-weight: 600;
            cursor: pointer;
            transition: 0.5s;
            border-radius: 4px;
            &:hover {
                background-color: var(--primary);
            }
        }
    }
    &:hover {
        box-shadow: 0 0 10px #0000001a;
        img {
            transform: rotateY(50deg);
        }
        button.buttonCard {
            background-color: #333e48;
            color: white;
        }
        button.search {
            opacity: 1;
        }
        h3 {
            color: var(--primary);
        }
    }
}

.column {
    flex-direction: column !important;
    padding: 30px 25px !important;
}