
@import '../../mixins.scss';

.details {
    .product_detailsFull {
        display: grid;
        grid-template-columns: 1fr;
        @include md {
            grid-template-columns: 1fr 1fr;
        }
    }
}